.formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.formContainer form {
  flex: 0.25;
}

.heading {
  font-size: 21px;
  color: #423e37;
  font-weight: 600;
}

nav li {
  padding: 0 10px;
}

nav .logo {
  width: 40px;
  height: 40px;
}

.dangerText {
  color: #ff0000c9;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}
